<section>
  <div class="container">

  <div class="contato">
     <div class="presentation">
       <div class="text-presentation">
       <p>O melhor sushi da Baixada </p>
       </div><!--text-presentation-->
     </div><!--presentation-->
     <div class="button-contato">
        <button>Whatsap</button>
     </div><!--button contato-->
  </div><!--contato-->

  <div class="slider">
    <div class="images" id="img">
      <img src="../assets/img/slide-1.jfif" >

    </div><!--images-->
  </div><!--slider-->

</div><!--container-->
</section>


