*{
  @import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: 'Island Moments', cursive;*/
  font-family: 'Island Moments', cursive;
}
